@mixin flexbox-with-centered-content() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin animated-box-shadow($color) {
  // box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
  box-shadow: 0 0 5px 3px $color;
  transition-property: box-shadow;
  transition-timing-function: linear;
  transition-duration: 1s;
}